[submodule "cldr-to-gettext-plural-rules"]
	path = cldr-to-gettext-plural-rules
	url = https://github.com/mlocati/cldr-to-gettext-plural-rules.git
[submodule "modules/gettext"]
	path = modules/gettext
	url = https://git.savannah.gnu.org/git/gettext.git
