include LICENSE
include README.rst
include requirements-*.txt
recursive-include weblate_language_data/ *.py
recursive-include weblate_language_data/locale *.pot
recursive-include weblate_language_data/locale *.po
recursive-include weblate_language_data/locale *.mo
global-exclude *.swp *.swo __pycache__ *.pyc *.pyo
