# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: MIT

name: submodule update

on:
  push:
    branches:
    - renovate/**
    - main
    paths:
    - .github/workflows/submodules-update.yml
    - modules/**

jobs:
  submodule-update:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      pull-requests: write

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - run: sudo apt-get --option="APT::Acquire::Retries=3" update
    - run: sudo apt-get --option="APT::Acquire::Retries=3" install -y gettext
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
        cache: pip
        cache-dependency-path: requirements*.txt
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip wheel setuptools
        pip install -r requirements-dev.txt
    - run: make
    - name: Update renovate branch
      if: github.ref != 'refs/heads/main'
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: 'chore: Updates from submodules'
    - name: Create Pull Request
      if: github.ref == 'refs/heads/main'
      uses: peter-evans/create-pull-request@v4
      with:
        branch: create-pull-request/submodule-update
        title: 'chore: Updates from submodules'
        commit-message: 'chore: Updates from submodules'
        labels: |
          dependencies
          automerge
