# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: MIT

name: Update generated files

on:
  push:
    branches:
    - renovate/**
    - main
  pull_request:

permissions:
  contents: write

jobs:
  submodule-update:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      if: github.event_name != 'pull_request'
      with:
        token: ${{ secrets.WEBLATE_CI_TOKEN }}
        submodules: true
        persist-credentials: true
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      if: github.event_name == 'pull_request'
      with:
        submodules: true
        persist-credentials: false
    - run: sudo apt-get update
    - run: sudo apt-get install -y gettext
    - name: Setup Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: '3.14'
    - uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
      with:
        version: 0.9.16
    - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: ~/.cache/pre-commit
        key: ${{ runner.os }}-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
    - name: Install dependencies
      run: uv pip install --system -e .[dev]
    - run: make
    - run: git diff

    - uses: pre-commit-ci/lite-action@5d6cc0eb514c891a40562a58a8e71576c5c7fb43 # v1.1.0
      if: github.event_name == 'pull_request' && github.actor != 'renovate[bot]'
      with:
        msg: 'chore: update generated files'

    - name: Update current branch
      if: github.event_name == 'push' && github.ref_name != 'main'
      uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
      with:
        commit_message: 'chore: update generated files'

    - name: Create Pull Request
      id: cpr
      if: github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' || github.ref_name == 'main'
      uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
      with:
        branch: create-pull-request/submodule-update
        title: 'chore: update generated files'
        commit-message: 'chore: update generated files'
        token: ${{ secrets.WEBLATE_CI_TOKEN }}
    - name: Enable Pull Request Automerge
      if: steps.cpr.outputs.pull-request-operation && steps.cpr.outputs.pull-request-operation != 'none'
      run: gh pr merge --rebase --auto "$PR_NUMBER"
      env:
        GH_TOKEN: ${{ secrets.WEBLATE_CI_TOKEN }}
        PR_NUMBER: ${{ steps.cpr.outputs.pull-request-number }}
